.photo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.users {
    padding: 10px
}

.avatar img{
    height: 50px;
    width: 50px;
}

.selectedPages {
    font-weight: bold;
}

.preloader {
    background-color: white;
}
.preloader img {
    height: 100px;
    width: 100px;
}